<nav class="navbar navbar-expand-lg navbar-dark bg-special _navbar">
  <div class="container text-center text-md-left">
    <%= link_to 'Neivor', root_path, class: "navbar-brand" %>
  </div>
</nav>
<style type="text/css">
  nav.navbar{
    background-color: #fe595a !important;
    box-shadow: 0 4px 10px -5px #fe595a;
    position: fixed;
  }
  @media(max-width: 676px){
    .navbar-brand{
      margin:0 auto;
    }
  }
</style>